body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Verhindert Scrollen */
}

.background {
    background-image: url('forest.jpg'); /* Hintergrundbild des Waldes */
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.3); /* Transparenter Hintergrund */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px; /* Feste Breite des Containers */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.password-input {
    position: relative;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 40px); /* Breite der Eingabefelder berechnen */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(200, 200, 200, 0.5); /* Leicht transparentes Hellgrau */
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 20px; /* Abstand vom rechten Rand des Textfelds */
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password img {
    width: 20px; /* Breite des Augensymbols */
    height: auto;
}

button {
    padding: 10px 20px;
    background-color: #007bff; /* Farbe des Login-Buttons */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Farbe des Login-Buttons im Hover-Zustand */
}
